
@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@300;400&display=swap');



body {
  margin: 0;
  background: #fafbfb;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 0.5rem;
}

main {
  margin-left: auto;
  margin-right: auto;
  max-width: 50rem;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  padding: 20px;
  font-family: 'Source Sans Pro', sans-serif;

}

article {
  height: 90%;
  font-family: 'Source Sans Pro', sans-serif;

  &:hover {
    box-shadow: 0px 11px 22px 12px #eee;
    border-radius: 5px;
  }
}